- var charasetsSection=['medium','tall','little','soldiers','monsters','monstersThin','fat','isometric','dwarf'];
- var charasetsSubSection=['body', 'face', 'attire', 'hair', 'items'];
- var premadeSection=['charasets','facesets','battlechar'];
- var pageTitle="Charas Sorting Machine";

div(ng-controller="Sorter")
  .navbar.navbar-default
    .navbar-header
      .navbar-brand=pageTitle
    .pull-right.navbar-form
      a.btn.btn-primary(href="#maker") Maker
  .progress
    .progress-bar(style="width: {{sorterPercentage}}%;") {{sorterProgress}}/{{sorterTotal}}
  .navbar
    .navbar-form.pull-left
      button.btn.btn-default(ng-click="next()") Load More
      button.btn.btn-default(ng-click="next($event)", data-random="1") Load Random
    .navbar-form.pull-right
      button.btn.btn-primary(ng-click="commit()") Commit
  .overflow
    .col-sm-6
      #infinite-scroll.sortable
        canvas(id="canvas-{{item.id}}", data-alphaHash="{{item.alphaHash}}", data-location="{{item.location}}", data-size="{{item.width}}x{{item.height}}", ng-dblclick="graphicPreview()", ng-repeat="item in sorterImages")
    #categorised.col-sm-6
      .well
        h1.nomar Trash
        .sortable(data-category="trash")
      #accordion.panel-group
        .panel.panel-primary      
          .panel.panel-heading
            h4.panel-title
              a(data-toggle="collapse", data-parent="#accordion", href="#collapse1") Generator
            #collapse1.panel-collapse.collapse
              .panel-body
                ul.nav.nav-tabs
                  - each section, index in charasetsSection
                    li(class=index == 0 ? "active" : "")
                      a(data-toggle="tab", href="#"+section)=section
                .tab-content
                  - each section, index in charasetsSection
                    .tab-pane(class=index == 0 ? "active" : "", id=section, data-section="paperdoll")
                      h4=section
                      - each subSection in charasetsSubSection
                        .panel.panel-default
                          .panel-heading
                            .panel-title=subSection
                          .panel-body
                            .sortable(data-category=section+"-"+subSection)
        .panel.panel-primary                            
          .panel.panel-heading
            h4.panel-title
              a(data-toggle="collapse", data-parent="#accordion", href="#collapse2") Premade
            #collapse2.panel-collapse.collapse
              .panel-body
                .tab-content
                  - each section in premadeSection
                    h4=section
                    .sortable(data-category="premade-"+section)

  #graphicPreview.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close(data-dismiss="modal",type="button")
            span &times;
            span.sr-only close
          h4.modal-title Preview
        .modal-body
          .row
            .col-sm-3.relative(ng-repeat="body in previewBodies")
              canvas.absolute(class="previewcanvas-{{selectedResource}}")
              canvas(class="previewcanvas-{{body.id}}")
        .modal-footer
          button.btn.btn-default(data-dismiss="modal") Close
